src/SmartDeviceApplication/Sconit_SD/Web References/SconitWS/SmartDeviceMgrWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://com.Sconit.Webservice" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://com.Sconit.Webservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://com.Sconit.Webservice">
      <s:element name="ScanBarcode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="resolver" type="tns:Resolver" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Resolver">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ModuleType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodePrefix" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BarcodeHead" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PickBy" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Input" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="BinCode" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsOddCreateHu" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsScanHu" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="NeedPrintAsn" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="NeedPrintReceipt" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="NeedInspection" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="AutoPrintHu" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="AllowExceed" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="AllowCreateDetail" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsPickFromBin" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="IOType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Command" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="OrderType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrintUrl" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ExternalOrderNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LocationCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LocationFormCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LocationToCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Transformers" type="tns:ArrayOfTransformer" />
              <s:element minOccurs="0" maxOccurs="1" name="ReceiptNotes" type="tns:ArrayOfReceiptNote" />
              <s:element minOccurs="0" maxOccurs="1" name="WorkingHours" type="tns:ArrayOfArrayOfString" />
              <s:element minOccurs="0" maxOccurs="1" name="FlowCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FlowFacility" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="OrderNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="s" type="tns:ArrayOfString" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="EntityBase" abstract="true" />
      <s:complexType name="ReceiptNote">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Sequence" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="ReceiptNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="IpNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="OrderNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PartyFrom" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PartyTo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Dock" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="CreateUser" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="HuId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemDescription" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="UnitCount" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="Qty" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="PrintUrl" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UomCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LotNo" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="TransformerDetail">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Sequence" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="HuId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemDescription" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UomCode" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="UnitCount" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="LotNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StorageBinCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LocationCode" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="LocationLotDetId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="OrderLocTransId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="IOType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Position" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ManufactureDate" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Qty" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="CurrentQty" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="CurrentRejectQty" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="SortLevel1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ColorLevel1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SortLevel2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ColorLevel2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="s1" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="s2" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="s3" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="s4" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="s5" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="d1" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="d2" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="d3" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="d4" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="i" nillable="true" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Transformer">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="OrderLocTransId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="OrderNo" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Sequence" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemDescription" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ReferenceItemCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UomCode" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="UnitCount" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="LocationFromCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LocationToCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StorageBinCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LotNo" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="OrderedQty" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="ShippedQty" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="ReceivedQty" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="LocationLotDetId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="OddShipOption" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LocationCode" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Qty" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="CurrentQty" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="CurrentRejectQty" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="ScrapQty" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="RejectedQty" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="Cartons" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="Operation" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="AdjustQty" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="TransformerDetails" type="tns:ArrayOfTransformerDetail" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfTransformerDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TransformerDetail" nillable="true" type="tns:TransformerDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTransformer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Transformer" nillable="true" type="tns:Transformer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfReceiptNote">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ReceiptNote" nillable="true" type="tns:ReceiptNote" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ScanBarcodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ScanBarcodeResult" type="tns:Resolver" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadUserResult" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="User">
        <s:complexContent mixed="false">
          <s:extension base="tns:UserBase" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="UserBase" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MobliePhone" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsActive" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="LastModifyDate" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="ModifyPwd" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetUserPermissions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="categoryCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserPermissionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserPermissionsResult" type="tns:ArrayOfPermission" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPermission">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Permission" nillable="true" type="tns:Permission" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Permission">
        <s:complexContent mixed="false">
          <s:extension base="tns:PermissionBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="PermissionBase" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="LoadUserPerference">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="preCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadUserPerferenceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadUserPerferenceResult" type="tns:UserPreference" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserPreference">
        <s:complexContent mixed="false">
          <s:extension base="tns:UserPreferenceBase" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="UserPreferenceBase" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:EntityBase">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ScanBarcodeSoapIn">
    <wsdl:part name="parameters" element="tns:ScanBarcode" />
  </wsdl:message>
  <wsdl:message name="ScanBarcodeSoapOut">
    <wsdl:part name="parameters" element="tns:ScanBarcodeResponse" />
  </wsdl:message>
  <wsdl:message name="LoadUserSoapIn">
    <wsdl:part name="parameters" element="tns:LoadUser" />
  </wsdl:message>
  <wsdl:message name="LoadUserSoapOut">
    <wsdl:part name="parameters" element="tns:LoadUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserPermissionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserPermissions" />
  </wsdl:message>
  <wsdl:message name="GetUserPermissionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserPermissionsResponse" />
  </wsdl:message>
  <wsdl:message name="LoadUserPerferenceSoapIn">
    <wsdl:part name="parameters" element="tns:LoadUserPerference" />
  </wsdl:message>
  <wsdl:message name="LoadUserPerferenceSoapOut">
    <wsdl:part name="parameters" element="tns:LoadUserPerferenceResponse" />
  </wsdl:message>
  <wsdl:portType name="SmartDeviceMgrWSSoap">
    <wsdl:operation name="ScanBarcode">
      <wsdl:input message="tns:ScanBarcodeSoapIn" />
      <wsdl:output message="tns:ScanBarcodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadUser">
      <wsdl:input message="tns:LoadUserSoapIn" />
      <wsdl:output message="tns:LoadUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserPermissions">
      <wsdl:input message="tns:GetUserPermissionsSoapIn" />
      <wsdl:output message="tns:GetUserPermissionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadUserPerference">
      <wsdl:input message="tns:LoadUserPerferenceSoapIn" />
      <wsdl:output message="tns:LoadUserPerferenceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SmartDeviceMgrWSSoap" type="tns:SmartDeviceMgrWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ScanBarcode">
      <soap:operation soapAction="http://com.Sconit.Webservice/ScanBarcode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadUser">
      <soap:operation soapAction="http://com.Sconit.Webservice/LoadUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserPermissions">
      <soap:operation soapAction="http://com.Sconit.Webservice/GetUserPermissions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadUserPerference">
      <soap:operation soapAction="http://com.Sconit.Webservice/LoadUserPerference" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SmartDeviceMgrWSSoap12" type="tns:SmartDeviceMgrWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ScanBarcode">
      <soap12:operation soapAction="http://com.Sconit.Webservice/ScanBarcode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadUser">
      <soap12:operation soapAction="http://com.Sconit.Webservice/LoadUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserPermissions">
      <soap12:operation soapAction="http://com.Sconit.Webservice/GetUserPermissions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadUserPerference">
      <soap12:operation soapAction="http://com.Sconit.Webservice/LoadUserPerference" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmartDeviceMgrWS">
    <wsdl:port name="SmartDeviceMgrWSSoap" binding="tns:SmartDeviceMgrWSSoap">
      <soap:address location="http://www.musheng.sh.cn:8080/WebService/SmartDeviceMgrWS.asmx" />
    </wsdl:port>
    <wsdl:port name="SmartDeviceMgrWSSoap12" binding="tns:SmartDeviceMgrWSSoap12">
      <soap12:address location="http://www.musheng.sh.cn:8080/WebService/SmartDeviceMgrWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>